.LaTeX{
    width: 96.88vw;
    height: 46.88vw;
    border-radius: 1.56vw;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0.21vw 0.21vw 0.21vw 0 rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(0.1vw);
    margin-top: 4.29vw;
    margin-left: 1.56vw;
}
.LaTeXAll{
    position: relative;
    top: 3.13vw;
    margin-left: 4.17vw;
}
.LaTeXAll h1{
    font-family: 'Montserrat_SemiBold';
    font-size: 1.88vw;
    color: black;
}
.LaTeXAll p{
    font-family: 'Montserrat_Regular';
    font-size: 0.94vw;
    color: black;
    margin-top: -0.94vw;
}
.Forms{
    max-width: 56.25vw;
    margin-top: 1.56vw;
}
.Label{
    height: 1.41vw;
    font-size: 1.15vw;
    font-family: 'Montserrat_SemiBold';
    color: black;
    position: relative;
    bottom: 0.78vw;
}
.TextArea {
    width: 100%;
    height: 13.02vw;
    margin-bottom: 1.04vw;
    border-radius: 0.52vw;
    border: 0.05vw solid #2534B4;
    background: none;
    outline: none;
    padding: 20px 20px;
    box-sizing: border-box;
    text-align: left;
    vertical-align: top;
    font-family: 'Montserrat_Regular', sans-serif;
    font-size: .85vw;
    resize: none;
}
.TextArea span{
    font-size: 1.2vw;
}
.Save{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14.38vw;
    height: 2.4vw;
    border-radius: 0.31vw;
    background: #000CFF;
    color: #FFF;
    font-family: 'Montserrat_SemiBold';
    font-size: 1.15vw;
    line-height: 120%;
    border: none;
}
.Button{
    margin-top: -40vw;
    margin-left: 67.71vw;
}
.categoryTitle {
    font-family: 'Montserrat_SemiBold';
    font-size: 1.04vw;
    cursor: pointer;
    margin-top: 10px;
    color: black;
}
.activeCategory{
    color: #000CFF;
}
  
.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 18.75vw;
    width: 100%;
    margin-top: 10px;
}
  
.button {
    margin: 0.26vw;
    padding: 0.52vw 1.04vw;
    font-family: 'Montserrat_Medium';
    line-height: 120%;
    font-size: 0.83vw;
    background-color: #000CFF;
    color: white;
    border: none;
    border-radius: 0.31vw;
    cursor: pointer;
    text-align: start;
}

.button:hover {
    background-color: #000CFF;
}
  